<?xml version="1.0" encoding="utf-8"?><manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="opus.auctor">

<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

<permission android:name="com.pkg.map.permission.MAPS_RECEIVE" android:protectionLevel="signature" />

<application android:allowBackup="true" android:icon="@drawable/logo" android:label="@string/app_name"
    android:supportsRtl="true" android:theme="@style/AppTheme">
    <activity android:name=".MainActivity" android:label="@string/app_name" android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name=".AddClass" android:label="@string/title_activity_add_class"
        android:parentActivityName=".MainActivity" android:theme="@style/AppTheme.NoActionBar">
        <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="opus.auctor.MainActivity" />
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBB5QEq0-a8u0MXx68iN6sF3epW-mmJyvQ" />
    </activity>
    <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
    <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBB5QEq0-a8u0MXx68iN6sF3epW-mmJyvQ" />

    <activity android:name=".classDetails" android:label="@string/title_activity_class_details"
        android:theme="@style/AppTheme.NoActionBar" />
    <activity android:name=".AddTerm" />
    <activity android:name=".MapsActivity"/>
    <service android:name=".timedClassService" android:enabled="true" android:exported="true"
        android:process=":BurdaServices" />
    <service android:name=".databaseService" android:exported="false" />
    <service android:name=".setAlarmService" android:enabled="true" android:exported="true" />

    <receiver android:name=".setAlarmReceiver" android:enabled="true" android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
            <action android:name="android.intent.action.TIME_SET" />
            <action android:name="android.intent.action.DATE_CHANGED" />
            <action android:name="android.intent.action.TIMEZONE_CHANGED" />
        </intent-filter>
    </receiver>

    <service android:name=".classStartService" android:exported="false" android:process=":BurdaService" />

    <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

</application>

</manifest>
